.caroulsel-container {
  background: #f9ba9d center no-repeat;
  height: 600px;
  width: 400px;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carte-container {
  width: 500px;
  margin-left: 10rem;
}
